@using Bastilia.Rating.Domain

@if (Project.Slug is null)
{
    <a href="/project/@Project.BastiliaProjectId">@Project.ProjectName</a>
}
else
{
    <a href="/project/@Project.Slug">@Project.ProjectName</a>
}



@code 
{
    [Parameter, EditorRequired]
    public IBastiliaProjectLink Project { get; set; } = null!;
}