<div class="card mb-4">
    <div class="card-header bg-light">
        <div class="row align-items-center g-2">
            <div class="col-auto">
                <img src="@AvatarUrl" class="rounded-circle" style="width: 80px; height: 80px" alt="Avatar" />
            </div>

            <div class="col">
                <h3 class="mb-0">@Username</h3>
                <small class="text-muted">[<a href="https://joinrpg.ru/user/@UserId">Профиль</a>]</small>
            </div>

        </div>
    </div>

    <div class="card-body">
        <div class="mb-4">
    <h5 class="d-flex align-items-center" >
        <i class="bi bi-person-badge me-2"></i>Статус
    </h5>
    
    <CurrentStatusBadge Status="Member.CurrentStatus" />

    @if (IsPresident)
    {
        <div class="col-auto">
            <span class="badge bg-warning text-dark">
                <i class="bi bi-award me-1"></i>Председатель до @Member.PresidentUntil
            </span>
        </div>
    }
    
    <div class="mt-2">
        <i class="bi bi-graph-up me-1"></i>Рейтинг: 
        @if (Member.RatingValue is not null)
                {
                    <strong>+@Member.RatingValue / +@Member.HistoricalRatingValue</strong>
                }
                else
                {
                    <i> Не участвует в рейтинге</i>
                }

    </div>
</div>
       

@*
@if (Member.HisActiveProjects?.Any() == true)
    {
            <div class="mb-4">
                <h5 class="d-flex align-items-center">
                    <i class="bi bi-kanban me-2"></i>Администрирует проекты
                </h5>
        <div class="list-group">
            @foreach (var project in Member.HisActiveProjects.OrderByDescending(p => p.AddDate))
            {
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                <div class="fw-bold">@project.ProjectName</div>
                            </div>

                            @if (project.IsActive)
                                    {
                                <span class="badge bg-success">Активен</span>
                            }
                        </div>
            }
        </div>
            </div>
    }

    *@
        <div>
            <h5 class="d-flex align-items-center">
                <i class="bi bi-trophy me-2"></i>Достижения
            </h5>

            @if (Member.Achievements.Any() == true)
            {
                <div class="row g-3">
                    @foreach (var achievement in Member.Achievements.OrderByDescending(a => a.NotExpired).ThenByDescending(a => a.RatingValue).ThenByDescending(a => a.GrantedDate))
                    {
                        <div class="col-md-6">
                            <AchievementCard Achievement="achievement" ShowValue=@Member.ParticipateInRating/>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="alert alert-warning mt-2 mb-0">
                    Пока нет достижений
                </div>
            }
        </div>

    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public BastiliaMember Member { get; set; } = null!;

    private string AvatarUrl => Member.AvatarUrl ?? "default-avatar.png";
    private string Username => Member.UserName;
    private int UserId => Member.JoinrpgUserId;
    private bool IsPresident => Member.IsPresident;
}