@switch (Status)
{
    case BastiliaFinalStatus.Active:
        <span class="badge bg-success">
            Бастилец
        </span>
        break;
    case BastiliaFinalStatus.Retired:
        <span class="badge bg-secondary">
            Досрочно-освобожденный
        </span>
        break;
    case BastiliaFinalStatus.Mate:
        <span class="badge bg-info">
            Прибастиленный
        </span>
        break;
    default:
        <span class="badge bg-light text-dark">
            Не определен
        </span>
        break;
}

@code {
    [Parameter]
    public BastiliaFinalStatus? Status { get; set; }
}