@using Bastilia.Rating.Domain
@using Microsoft.AspNetCore.Components.QuickGrid

<QuickGrid Items="Members" Class="table table-striped" Virtualize="false">
    <TemplateColumn Context="member" Title="Имя" SortBy="@usernameSort">
        <BastiliaUserLink  Member="@member"/>
    </TemplateColumn>
    <TemplateColumn Context="member" Title="Статус">
        <CurrentStatusBadge Status="member.CurrentStatus" />
    </TemplateColumn>
    <TemplateColumn Context="member" Title="Текущее значение рейтинга" SortBy="ratingSort" IsDefaultSortColumn="true">
        @if (member.ParticipateInRating)
        {
            @member.RatingValue
        }
        else
        {
            <span>не участвует в рейтинге</span>
        }
    </TemplateColumn>
</QuickGrid>

@code {
    [Parameter, EditorRequired]
    public IQueryable<BastiliaMember> Members { get; set; }

    GridSort<BastiliaMember> usernameSort = GridSort<BastiliaMember>
       .ByDescending(x => x.Username);

    GridSort<BastiliaMember> ratingSort = GridSort<BastiliaMember>
        .ByDescending(x => x.IsActiveMember)
        .ByDescending(x => x.RatingValue);
}

