@using System.Globalization
@using Bastilia.Rating.Portal.Client.Components.Achievements
<Card Width="30em">
    <Body>
        <div class="row align-items-center g-2">
            <div class="col-auto">
                <img src="@AvatarUrl" class="rounded-circle" style="width: 80px; height: 80px" alt="Avatar" />
            </div>

            <div class="col">
                <h3 class="mb-0">
                    <BastiliaUserLink Member="Member" />
                    @if (Member.ParticipateInRating)
                    {
                        <strong class="h5">&nbsp;(+@Member.RatingValue / +@Member.HistoricalRatingValue)</strong>
                    }
                    else
                    {
                        <Tooltip Title="Этот бастилец предпочитает не оценивать свой вклад бездушными цифрами">&nbsp;–</Tooltip>
                    }
                </h3>

                @if (IsPresident)
                {
                    <text>&nbsp;</text>
                    <span class="badge bg-warning text-dark">
                        <i class="bi bi-award me-1"></i>Комендант до @Member.PresidentUntil!.Value.ToString(CultureInfo.GetCultureInfo("ru-RU"))
                    </span>
                }
                else
                {
                    <CurrentStatusBadge Status="Member.CurrentStatus" />
                }
                <small class="text-muted"> [<a href="https://joinrpg.ru/user/@UserId">JoinRpg</a>]</small>
                @if (Member.BirthDay is not null)
                {
                    <span> ДР: @Member.BirthDay.Value.ToString("dd MMMM")</span>
                }
            </div>

        </div>
    </Body>
</Card>

@code {
    [Parameter, EditorRequired]
    public BastiliaMember Member { get; set; } = null!;

    private string AvatarUrl => Member.AvatarUrl ?? "default-avatar.png";
    private string Username => Member.UserName;
    private int UserId => Member.JoinrpgUserId;
    private bool IsPresident => Member.IsPresident;
}