@switch (Status)
{
    case BastiliaFinalStatus.Active:
        <span class="badge bg-success">
            Бастилец
        </span>
        break;
    case BastiliaFinalStatus.Retired:
        <Tooltip Title="Бывший бастилец">
        <span class="badge bg-secondary">
            Досрочно-освобожденный
        </span>
        </Tooltip>
        break;
    case BastiliaFinalStatus.Mate:
        <Tooltip Title="Есть хотя бы 1 активное достижение">
            <span class="badge bg-info" title="Есть ">
                Прибастиленный
            </span>
        </Tooltip>
        break;
    default:
        break;
}

@code {
    [Parameter]
    public BastiliaFinalStatus? Status { get; set; }
}