@page "/projects"
@using Bastilia.Rating.Portal.Client.Components.Projects
@inject IBastiliaProjectRepository Repository
@if (activeList is null || completedList is null)
{
    <h3>Список проектов</h3>
    <LoadingSpinner />
}
else
{
    <h3>Активные проекты</h3>
    <ProjectList Projects="activeList" />
    <h3>Прошедшие проекты</h3>
    <ProjectList Projects="completedList" ShowYear="true"/>
}

<Card>
    <Body>
        <a href="/projects/deleted">Удаленные проекты</a>
    </Body>
</Card>


@code
{
    private IQueryable<BastiliaProject>? activeList;
    private IQueryable<BastiliaProject>? completedList;
    protected override async Task OnInitializedAsync()
    {
        var list = (await Repository.GetAllProjects());
        activeList = list.AsQueryable().Where(p => p.IsActive);
        completedList = list.AsQueryable().Where(p => p.Status == ProjectStatus.Completed);
    }
}