@inject IBastiliaProjectRepository bastiliaProjectRepository
@inject IProjectService projectService
@using Microsoft.AspNetCore.Components.QuickGrid

@if (bastiliaProjects is null)
{
    <LoadingSpinner />
    return;
}

<h3>Пароли проектов</h3>
<QuickGrid Items="bastiliaProjects.AsQueryable()" Class="table table-striped" Virtualize="false">
    <PropertyColumn Property="x => x.ProjectName" />
    <TemplateColumn Context="project" Title="Ссылка">
        [<a href="/admin/project/@project.BastiliaProjectId/@project.Password/index">ссылка</a>]
    </TemplateColumn>
</QuickGrid>

@code {
    private IReadOnlyCollection<BastiliaProject>? bastiliaProjects;

    protected override async Task OnParametersSetAsync()
    {
        var projectsWithoutPassword = await bastiliaProjectRepository.GetProjectsWithoutPasswords();
        foreach (var p in projectsWithoutPassword)
        {
            await projectService.EnsureProjectHasPassword(p.BastiliaProjectId);
        }
        bastiliaProjects = await bastiliaProjectRepository.GetActualProjects();
        base.OnParametersSet();
    }

}
