@page "/admin/"
@using Microsoft.AspNetCore.Components.Authorization
@using Bastilia.Rating.Portal.Client.Components.Projects

<h3>Админка</h3>

<AuthorizeView Roles="president">
    <Authorized>
        <ProjectPasswordGrid />
    </Authorized>
    <NotAuthorized>
        <p>Доступ запрещён. Эта страница доступна только председателю.</p>
    </NotAuthorized>
</AuthorizeView>
