@* Pages/NotFound.razor *@
@page "/404"

<PageTitle>Не найдено</PageTitle>

<div class="container text-center mt-5">
    <h1 class="display-1">404</h1>
    <p class="lead">Страница не найдена</p>
    <a href="/" class="btn btn-primary">На главную</a>
</div>