@page "/about"
<h3>О Бастилии</h3>
<p>
    Наша главная цель — делать интересные ролевые и околоролевые проекты с целью возрастания личной и коллективной олдовости. А еще просто потому, что нас прет.
    Проекты — это мастерение игр, выезды на игры, участие в конвентах, а также многое другое.
</p>
<p>
    Бастильцы делают проекты под именем #Бастилии, потому что #Бастилия — это бренд. Торговая марка, если хотите. Образ в голове у игрока. Даже, что более важно, образ в голове у мастера. Игра от #Бастилии — больше, чем «еще одна ебаная ролевуха». С 2003 года.
    Во всяком случае, такую задачу мы себе ставим.
</p>
<p>
    Наше официальное название — мегатворческая группа «Бастилия». Сейчас мы предпочитаем говорить просто «Бастилия», а писать — #Бастилия.
</p>
<p>
    Больше о нас вы можете узнать на сайте (хоть и немного устаревшем): <a href="http://bastilia.ru">bastilia.ru</a>
</p>

<h3>О рейтинге и реестре проектов</h3>

<h5>Что это такое?</h5>
<p>Рейтинг - это веселый способ отметить активность нас и наших друзей в рамках ролевых игр. Пожалуйста, не относитесь к нему серьезно.
    Также в нем можно найти, какие проекты сейчас происходят в #Бастилии и около нее, чтобы как-то в них поучаствовать.
    Пишите координатору проекта.
</p>

<h5>За что начисляются ачивки?</h5>
<p>За активное участие в бастильских играх, проектах и выездах.</p>

<h5>А что, ХХХ тоже бастильский проект?</h5>
<p>Да. Ну или проект, проведение которого мы активно поддерживаем. </p>

<h5>Почему прибастиленный? Что это значит?</h5>
<p>Прибастиленный — это человек, который принял какое-то участие в проектах #Бастилии, и таким образом вызвал нашу симпатию.
    Название — это древняя шутка.
</p>

<h5>Мой вклад плохо учтен</h5>
<p>
    Пишите координатору проекта или Лео, все решим. Но если у вас какая-то не такая ачивка, слишком большая или маленькая,
    лучше не парьтесь. Рулежка «моя ачивка слишком слабая» запрещена.
</p>

<h5>Я ненавижу бастильцев, уберите меня отсюда. </h5>
<p>
    Сайт определяет не ваше отношение к нам (оно может быть любым), а наше к вам — и мы вам благодарны за помощь.
</p>

<h5>Что такое актуальный рейтинг?</h5>
<p>
    В нем учитываются только ачивки за последние два года.
</p>

<h5>А где такая-то игра?</h5>
<p>
    Данные за предыдущие года пока на сайте отсутствуют. Возможно, мы их восстановим. А может и нет.
</p>

@code {

}
