@page "/members-history"
@using Bastilia.Rating.Portal.Components.BastiliaUsers
@using Microsoft.AspNetCore.Components.QuickGrid
@inject IBastiliaMemberRepository Repository

<PageTitle>Бастильцы и бывшие бастильцы</PageTitle>

<h2>Бастильцы и бывшие бастильцы</h2>

@if (members is null)
{
    <LoadingSpinner />
}
else
{
    
    <QuickGrid Items="members" Class="table table-striped" Virtualize="false">
    <TemplateColumn Context="member" Title="Имя" SortBy="@(GridSort<MemberHistoryItem>.ByDescending(x => x.User.UserName))">
        <BastiliaUserLink  Member="@member.User"/>
    </TemplateColumn>
    <PropertyColumn Property="@(m => m.Since)" />
    <PropertyColumn Property="@(m => m.Until)" />
   
</QuickGrid>
    <Alert>К сожалению, у Йорика нет аккаунта на joinrpg.ru поэтому его нет в этом списке</Alert>
   
}

@* Добавить сюда колонки с тем, когда пришел и ушел*@

@code
{
    private IQueryable<MemberHistoryItem>? members;
    protected override async Task OnInitializedAsync()
    {
        members = (await Repository.GetMembersHistory()).AsQueryable();
    }


}