@page "/"
@using Bastilia.Rating.Portal.Components.Pages.Members
@inject NavigationManager NavigationManager

<ul>
    <li>Узники
        <p style="margin-left:1em"><MemberNavLinks /></p>
    </li>
    <li><a href="/projects">Проекты</a></li>
    <li><a href="/about">О Бастилии</a></li>
    <li><a href="/calendar">Календарь</a></li>
</ul>

