@page "/members"
@inject IBastiliaMemberRepository Repository

<PageTitle>Список Узников</PageTitle>

<h2>Список Узников</h2>

@if (members is null)
{
    <LoadingSpinner />
}
else
{
    <Bastilia.Rating.Portal.Components.BastiliaUsers.MemberList Members="members" />
}

@code
{
    private IQueryable<BastiliaMember>? members;
    protected override async Task OnInitializedAsync()
    {
        members = (await Repository.GetAllAsync()).AsQueryable();
    }
}