@page "/members"
@using Bastilia.Rating.Portal.Client.Components.BastiliaUsers
@inject IBastiliaMemberRepository Repository

<PageTitle>Список Узников</PageTitle>

<h2>Список Узников</h2>

@if (members is null)
{
    <LoadingSpinner />
}
else
{
    <MemberList Members="members" />
}

@code
{
    private IReadOnlyCollection<BastiliaMember> members;
    protected override async Task OnInitializedAsync()
    {
        members = await Repository.GetAllAsync();
    }
}