@page "/project/{projectId:int}"
@using Bastilia.Rating.Portal.Components.BastiliaUsers
@using Microsoft.AspNetCore.Components.QuickGrid

@inject IBastiliaProjectRepository Repository
@inject NavigationManager NavigationManager
<PageTitle>Проект @project?.ProjectName</PageTitle>
@if (project is null || pmaItems is null)
{
    <LoadingSpinner />
    return;
}
<h3>Проект @project.ProjectName</h3>
<p>
 <Bastilia.Rating.Portal.Components.BastiliaUsers.ProjectLinks Project="project" />
</p>

<QuickGrid Items="pmaItems" Class="table table-striped" Virtualize="false">
    <TemplateColumn Context="item" Title="Имя" SortBy="@usernameSort">
        <BastiliaUserLink  Member="@item.User"/>
    </TemplateColumn>
    <PropertyColumn Property="i => i.Name" Title="Достижение">
    </PropertyColumn>
    <PropertyColumn Property="i => i.Value" Title="Рейтинг" IsDefaultSortColumn="true" Sortable="true" InitialSortDirection="SortDirection.Descending">
    </PropertyColumn>
</QuickGrid>

@code {
    [Parameter]
    public int ProjectId { get; set; }

    private BastiliaProjectWithDetails? project;
    private IQueryable<ProjectMemberAchievement>? pmaItems;

    private GridSort<ProjectMemberAchievement> usernameSort = GridSort<ProjectMemberAchievement>.ByDescending(x => x.User.UserName);

    protected override async Task OnParametersSetAsync()
    {
        project = await Repository.GetByIdAsync(ProjectId);


        if (project is null)
        {
            NavigationManager.NavigateTo("/404");
        }
        else {
            pmaItems = project.ProjectMemberAchievements.AsQueryable();
        }
    }
}
