@page "/projects"
@inject IBastiliaProjectRepository Repository
<h3>Список проектов</h3>

@if (list is null)
{
    <LoadingSpinner />
}
else
{
    <Bastilia.Rating.Portal.Components.BastiliaUsers.ProjectList Projects="list" />
}


@code
{
    private IQueryable<BastiliaProject>? list;
    protected override async Task OnInitializedAsync()
    {
        list = (await Repository.GetActualProjects()).AsQueryable();
    }
}