@page "/members/actual"
@page "/members/"
@using Bastilia.Rating.Portal.Client.Components.BastiliaUsers
@inject IBastiliaMemberRepository Repository

<PageTitle>Список Узников</PageTitle>
<h2>Список Узников</h2>

<MemberNavLinks />

@if (members is null)
{
    <LoadingSpinner />
}
else
{
    
    <div style="display: flex; flex-flow: row wrap">
    @foreach (var member in members)
    {
        <BastiliaMemberCard Member="member"></BastiliaMemberCard>
    }
    </div>
}

@code
{
    private IReadOnlyCollection<BastiliaMember>? members;
    protected override async Task OnInitializedAsync()
    {
        members = await Repository.GetActualAsync();
    }
}