@using Bastilia.Rating.Portal.Client.Components.BastiliaUsers

<div><em><NavLink href="members/actual" Match="NavLinkMatch.All">Список Узников</NavLink> :: <NavLink href="/members/history">Летопись Узников</NavLink> :: <NavLink href="/members/rating">Рейтинг Узников</NavLink></em></div>