@using Bastilia.Rating.Portal.Client.Components.BastiliaUsers

<div><em><NavLink href="members/actual" Match="NavLinkMatch.All">Текущие бастильцы</NavLink> :: <NavLink href="/members/history">История бастильцев</NavLink> :: <NavLink href="/members/rating">Рейтинг</NavLink></em></div>