<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid" onclick="document.querySelector('.navbar-toggler').click()">
        <img src="https://bastilia.ru/brandbook/bastilia_logo_thumb.png" />
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" >
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="members" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Узники
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="projects">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Проекты
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> О #Бастилии
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="calendar">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Календарь
            </NavLink>
        </div>
    </nav>
</div>

